<p id="notice"><%= notice %></p>

<h1>Gemposts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Img</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gemposts.each do |gempost| %>
      <tr>
        <td><%= gempost.title %></td>
        <td><%= gempost.content %></td>
        <td><%= gempost.img %></td>
        <td><%= link_to 'Show', gempost %></td>
        <td><%= link_to 'Edit', edit_gempost_path(gempost) %></td>
        <td><%= link_to 'Destroy', gempost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gempost', new_gempost_path %>
