<% content_for :title, "Gem's List" %>

<div class="gemsHeader text-center">
  <h2>All Available Gem's</h2>
</div>


<div class="container" id="carouselCont">

  <div class=" owl-carousel owl-theme owl-loaded">

    <% @gemposts.each_with_index do |gems, index| %>

          <div class="item text-center">

            <%= image_tag gems.img %>
            <h5><%= gems.title %></h5>
            <p><%= gems.content %></p>

            <%= button_to '#', class: 'btn btn-mycolor'  do %>
              <%= fa_icon "shopping-cart", text: "Add To Cart" %>
            <% end %>

          </div>

      <% end %>

  </div>

  <div class="gemsBtn text-center">

  <% if admin_signed_in? %>

    <%= button_to "Add New Gem's",  new_gempost_path, class: 'btn btn-mycolor', method: :get %>

  <% end %>

  </div>


<!--
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <% @gemposts.each_with_index do |gems, index| %>
      <div class="carousel-item <%= index == 0 ? 'active' : '' %>">

            <%= image_tag gems.img, class: 'd-block w-10' %>

          <div class="carousel-caption d-none d-md-block">

            <h5><%= gems.title %></h5>
            <p><%= gems.content %></p>

            <%= button_to '#', class: 'btn btn-mycolor'  do %>
              <%= fa_icon "shopping-cart", text: "Add To Cart" %>
            <% end %>

        </div>
      </div>
      <% end %>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
-->
</div>

