<% content_for :title, "Gem's List" %>

<div class="container" id="carouselCont">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <% @gemposts.each_with_index do |gems, index| %>
      <div class="carousel-item <%= index == 0 ? 'active' : '' %>">

            <%= image_tag gems.img, class: 'd-block w-10' %>

          <div class="carousel-caption d-none d-md-block">

            <h5><%= gems.title %></h5>
            <p><%= gems.content %></p>

            <%= button_to '#', class: 'btn btn-mycolor'  do %>
              <%= fa_icon "shopping-cart", text: "Add To Cart" %>
            <% end %>

        </div>
      </div>
      <% end %>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

